<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 left-sidebar">
                <div class="widget widget-btn">
                    <button type="button" data-toggle="modal" class="action ask-question">
                    <i class="fa fa-plus"></i> ĐẶT LỆNH ?</button>
                </div>
                <!-- END BUTTON MODAL QUESTION -->
                <div class="widget widget-menus">
                    <div class="menu-left-menu-container">
                        <ul id="menu-left-menu" class="menu">
                            <li class="fa-question-circle"><a href="index.html"><i class="fa fa-question-circle"></i>Danh sách đặt lệnh</a></li>
                            <li class="fa-tags"><a href="tags/index.html"><i class="fa fa-tags"></i>Tags</a></li>
                            <li class="fa-trophy"><a href="danh-hieu/index.html"><i class="fa fa-trophy"></i>Danh hiệu</a></li>
                            <li class="fa-th-list"><a href="the-loai/index.html"><i class="fa fa-th-list"></i>Thể loại</a></li>
                            <li class="fa-users"><a href="thanh-vien/index.html"><i class="fa fa-users"></i>Thành viên</a></li>
                        </ul>
                    </div>
                </div>
                <!-- END LEFT MENU -->
                <div class="clearfix"></div>
                <!-- SOCIAL LINKs -->
                <div class="social-links">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/pages/FaceCRMvn/101449530204919" target="_blank" class="social fb">
                            <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+FacecrmVnn" target="_blank" class="social gg">
                            <i class="fa fa-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/c/FacecrmVnn" target="_blank" class="social yt">
                            <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END / SOCIAL LINKs -->
                <div class="copyright">
                    &copy;2015 FaceCRM.vn <br>
                    <a href="quy-dinh-va-noi-quy/index.html">Quy định & nội quy</a>
                </div>
            </div>
            <!-- END LEFT-SIDEBAR -->
        </div>
    </div>
</nav>
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 right-sidebar">
                <div class="widget widget-statistic">
                    <p class="questions-count">
                        Tổng câu hỏi<br>
                        <span>1</span>
                    </p>
                    <p class="members-count">
                        Thành viên<br>
                        <span>4</span>
                    </p>
                </div>
                <!-- END widget-statistic -->
                <div class="widget widget-hot-questions">
                    <h3>Câu hỏi nổi bật trong tuần</h3>
                    <ul>
                        <li>
                            <a href="cau-hoi/what-do-you-page/index.html">
                            <span class="topic-avatar">
                            <img src="http://1.gravatar.com/avatar/12e6c0e6b6a8d9855abd772fc3ec00df?s=30&amp;d=mm&amp;r=g" class="avatar" alt="" />                    </span>
                            <span class="topic-title">what  do you page?</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END widget-related-tags -->
                <div class="widget widget-related-tags">
                    <h3>Tags</h3>
                    <!-- <ul> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/huong-dan/index.html">hướng dẫn</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/gop-y/index.html">góp ý</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/ho-tro/index.html">hỗ trợ</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/bao-loi/index.html">báo lỗi</a><!--  x 1 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/google-adwords/index.html">google adwords</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/marketing/index.html">marketing</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/facebook/index.html">facebook</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <a class="q-tag" href="cau-hoi-tag/kinh-nghiem/index.html">kinh nghiệm</a><!--  x 0 -->
                    <!-- </li> -->
                    <!-- </ul> --><br/>
                    <a href="tags/index.html">Xem thêm các thẻ</a>
                </div>
                <!-- END widget-related-tags -->
                <div class="widget user-widget">
                    <h3 class="widgettitle">Top thành viên điểm cao</h3>
                    <div class="hot-user-question">
                        <ul>
                            <li>
                                <span class="number">1</span>
                                <span class="username ">
                                <a href="thanh-vien/sieunhan/index.html" title="Siêu Nhân">
                                Siêu Nhân                       </a>
                                </span>
                                <span class="points-count" title="11 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>11</span>
                                </span>
                            </li>
                            <li>
                                <span class="number">2</span>
                                <span class="username ">
                                <a href="thanh-vien/thinhit/index.html" title="Thinhit">
                                Thinhit                     </a>
                                </span>
                                <span class="points-count" title="1 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>1</span>
                                </span>
                            </li>
                            <li>
                                <span class="number">3</span>
                                <span class="username ">
                                <a href="thanh-vien/daotc/index.html" title="daotc">
                                daotc                       </a>
                                </span>
                                <span class="points-count" title="1 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>1</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END RIGHT-SIDEBAR -->
        </div>
    </div>
</nav>

<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top" id="cbp-spmenu-s3">
    <ul class="menu-res">
        <li  class="menu-item"><a href="index.html">Trang chủ</a></li>
        <li id="menu-item-1997" class="menu-item"><a href="gioi-thieu/index.html">Giới thiệu</a></li>
        <li id="menu-item-1989" class="menu-item"><a href="http://facecrm.vn/">Blog</a></li>
        <li id="menu-item-1990" class="menu-item"><a href="quy-dinh-va-noi-quy/index.html">Quy định &#038; Nội quy</a></li>
    </ul>
</nav>