<div class="col-md-2 disable-mobile right-sidebar">
    <div class="padder m-t-sm">
        <form>
           <!--  <div class="form-group">
               <label for="">Số điện thoại KH</label>
               <input type="text" class="form-control" id="" placeholder="Số điện thoại KH cần tìm" ng-model="frm.customer_phone">
           </div>
           
           <div class="form-group">
               <label for="">Tên khách hàng</label>
               <input type="text" class="form-control" id="" placeholder="Tên KH cần tìm" ng-model="frm.customer_name">
           </div> -->

            <div class="form-group">
                <label>Trạng thái</label>
                <select name="" id="" class="form-control" ng-model="frm.status">
                    <option value="">Lọc theo trạng thái</option>
                    <option value="{{key}}" ng-repeat="(key, value) in transaction_status">{{value.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Loại giao dịch</label>
                <select name="" id="" class="form-control" ng-model="frm.type">
                    <option value="">Lọc theo loại giao dịch</option>
                    <option value="{{key}}" ng-repeat="(key, value) in transaction_type">{{value}}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Thời gian đặt lệnh</label>
                <input type="text" class="form-control"  placeholder="Từ" ng-model="frm.start_date"  datepicker-popup  is-open="open_start" ng-click="open_start = true"  max-date="'2020-06-22'" close-text="Đóng"
                ><br/>
                <input type="text" class="form-control"  placeholder="Đến" ng-model="frm.end_date" datepicker-popup is-open="open_end" ng-click="open_end = true" max-date="'2020-06-22'" close-text="Đóng">
            </div>

            <button type="submit" class="btn btn-primary" ng-click="load('ALL', frm)" ng-disabled="loadingData">Tìm kiếm</button>
        </form>
    </div>
</div>