<div class="clearfix"></div>
<div class="col-md-10">
    <div class="row select-category">
        <div class="col-md-6 col-xs-12 current-category">
            <span>Danh sách bài viết</span>
        </div>
        
        <div class="col-md-6 col-xs-6" ng-if="user.user.privilige == 1">
            <a ui-sref="app.posts.create">
            <button class="btn btn-primary pull-right" style="margin-top:20px">TẠO BÀI VIẾT</button>
            </a>
        </div>
    </div>

    <!-- <div class="row question-filter" id="question_filter">
    
        <div class="col-md-6 col-xs-6 col-md-offset-6">
            <div class="number-of-questions-wrapper">
                <span class="number-of-questions-text">Số bản ghi mỗi trang:</span>
    
                <div class="number-of-questions">
                    <select id="filter-numbers" class="select-grey-bg">
                        <option value="">20</option>
                        <option value="">15</option>
                        <option value="" selected>10</option>
                        <option value="">5</option>
                    </select>
                </div>
    
            </div>
        </div>
    </div> -->
    <!-- END QUESTIONS-FILTER -->
    <div class="main-questions-list">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <tr>
                    <th>#</th>
                    <th>Tiêu đề</th>
                    <th>Url</th>
                    <th>Ngày</th>
                    <th>Bởi</th>
                    <th>Tình trạng</th>
                </tr>

                <tr style="cursor: pointer" ng-repeat="item in list_Posts" ui-sref="app.posts.view({ id: item.id })">
                    <td>
                        {{$index + 1}}
                    </td>

                    <td>
                        <p>{{item.title}}</p>
                    </td>
                    <td>
                        <p>/p/{{item.slug}}</p>
                    </td>
                    <td>
                     <p>{{item.date | date:'dd-MM-yyyy'}}</p>

                    </td>
                    <td>
                        <p>{{item.user.fullname}}</p>
                    </td>
                    <td>
                        <label class="label label-primary" style="margin-right:5px;">{{ item.active == true ? 'Enable' : 'Disable' }}</label>
                    </td>
                </tr>
            </table>
            <div class="col-md-12 text-center" ng-if="loadingData">
                Đang tải dữ liệu
            </div>
        </div>


    </div>
    <!-- END MAIN-QUESTIONS-LIST -->
    <div class="row home">
    <div class="col-md-12 text-right">
        <pagination total-items="total" ng-model="currentPage" max-size="item_page" class="pagination-sm"
                    boundary-links="true" rotate="false" ng-click="load()" first-text="Trang đầu" next-text="Tiếp theo" last-text="Trang cuối" previous-text="Sau"></pagination>
    </div>
    </div>
</div>

<div ng-include="'views/projects/right-sidebar.html'"></div>
<!-- END MAIN-PAGINATIONS -->
<div class="clearfix"></div>