<div class="sampleClass"></div>

<div class="container-fluid" >
    <div class="row">
    	<div ng-include="'views/partials/header.html'"></div>
    	<h1>&nbsp;&nbsp;</h1>
		<h1>&nbsp;&nbsp;</h1>
		
    	<div class="col-md-4 col-md-offset-4">
    		<div class="alert alert-warning" ng-if="loginErr !== ''"> {{loginErr}}</div>
    		<div class="alert alert-success" ng-if="registerSuccess"> Đăng ký tài khoản thành công ! đang chuyển tới đăng nhập. </div>
    		
        	<form ng-submit="register(frm)">
	        	<div class="form-group">
				    <label for="fullname">Họ tên</label>
				    <input type="text" class="form-control" id="fullname" placeholder="Họ và tên" ng-model="frm.fullname">
				</div>
				<div class="form-group">
				    <label for="username">Email</label>
				    <input type="text" class="form-control" id="username" placeholder="Nhập email của bạn" ng-model="frm.username">
				</div>
				<div class="form-group">
				    <label for="phone">Số điện thoại</label>
				    <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại của bạn" ng-model="frm.phone">
				</div>
				<div class="form-group">
				    <label for="password">Mật khẩu</label>
				    <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" ng-model="frm.password">
				</div>

				<div class="form-group">
				    <label for="refer">Mã khuyến mãi</label>
				    <input type="text" class="form-control" id="refer" placeholder="Nhập mật khẩu" ng-model="frm.refer" >
				    <p ng-if="getReferLoading"><i class="fa fa-spinner fa-spin"></i> Đang xác thực</p>
				    <p class="text-danger" ng-if="!getReferLoading && (frm.refer && !frm.referValid)"> <i class="fa fa-check"></i> Mã khuyến mãi không hợp lệ</p>
				    <p class="text-success" ng-if="!getReferLoading && (frm.refer.length !== 0 && frm.referValid == true)"><i class="fa fa-check"></i> Bạn có thể sử dụng mã khuyến mãi này </p>
				    
				</div>
				
				<button type="submit" class="btn btn-default" ng-disabled="loginProcessing || (frm.refer && !frm.referValid)">Đăng ký</button>
			</form>
		</div>
    </div>
</div>
